
#header {
	margin:50px;
}

#newGame {
	
	margin: 20px 0 0 0;
}

#rollDice {
	margin: 20px 0 0 0;
}

.css {
    margin: 30px 0 0 0;

}

#yourWin2 {
    margin: 30px 0 0 0;

}

#rolls {
    margin: 30px 0 0 20px;
    
}

#rollsNum {
    margin: 30px 0 0 20px;
    
}